@tailwind base;
@tailwind components;
@tailwind utilities;

.icons{
      position: fixed;
      top: 90%;
      left: 95%;
      right: 0;
      bottom: 0;
      z-index: 1;
      font-size: 2rem;

}

